# Dependencies & build output (akan di-install / di-build ulang di image)
node_modules
.next
out

# Git & env
.git
.gitignore
.env
.env.*
!.env.example

# IDE & logs
.idea
.vscode
*.log
coverage

# Dokumentasi & plan (tidak dipakai runtime)
*.md
!README.md

# Terraform lokal (aws + gcp)
infrastructure/aws/.terraform
infrastructure/aws/*.tfstate
infrastructure/aws/*.tfstate.*
infrastructure/aws/terraform.tfvars
infrastructure/aws/crash.log
infrastructure/aws/override.tf

infrastructure/gcp/.terraform
infrastructure/gcp/*.tfstate
infrastructure/gcp/*.tfstate.*
infrastructure/gcp/terraform.tfvars
infrastructure/gcp/crash.log
infrastructure/gcp/override.tf

# Artefak OS
.DS_Store
Thumbs.db
